.todo-list-full-width {
  width: 100%;
}
.font-size30{
  font-size: 30px;
}
.list-item textarea{
  background-color:white;
}
.list-item-form{
  background-color: white;
  margin: 5px;
}
.list-item-form button{
  margin-left: 5px;
}
.todo-list-item-chip{
  margin: auto 2px;
  padding:2px;
  border-radius:10px;
}
