<form class="list-item-form" fxLayout="row" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()" fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
  <mat-list-item class="list-item" *ngIf="todo.priority == priorityCategory">
    <mat-chip class="todo-list-item-chip" color="{{todoCategory[todo.timezone-1].color}}" selected>{{todoCategory[todo.timezone-1].timezone}}</mat-chip>
    <mat-form-field class="todo-form-full-width" fxFlex="100">
      <textarea matInput #input maxlength="60" rows="1" formControlName="text" fxFlex="100"></textarea>
    </mat-form-field>
    <button class="todo-form-button-margin" mat-mini-fab color="primary" aria-label="Todo input button" [disabled]="form.invalid || loading">
      <mat-icon>create</mat-icon>
    </button>
    <button class="todo-form-button-margin" mat-mini-fab color="primary" aria-label="Todo input button" (click)="remove.emit(todo.id)" [disabled]="form.invalid || loading">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</form>


