.todo-input-form {
  min-width: 320px;
  max-width: 500px;
  width: 100%;
  margin-left: 10px;
}

.todo-input-full-width {
  width: 100%;
}
.margin-left10{
  margin-left: 10px;
}
.timezone-radio-button {
  margin: 5px;
}
