<form class="todo-input-form">
  <label id="todo-input-label">明日の予定</label>


  <!-- ngModel使用時はname属性必要 -->
  <!-- @todo: ラジオボタン初期選択調べる -->
  <div appearance="outline">
    <label id="timezone-radio-group-label">時間帯</label>
    <mat-radio-group
    aria-labelledby="timezone-radio-group-label"
    class="timezone-radio-group"
    [(ngModel)]="timeZoneText" name="timeZoneRadio">
      <mat-radio-button class="timezone-radio-button" *ngFor="let timeZone of timeZones" [value]="timeZone">
        {{timeZone}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <!-- <div>選択: {{timeZoneText}}</div> -->

  <!-- input -->
  <div fxLayout="row">
    <mat-form-field class="todo-input-full-width" appearance="outline">
      <mat-label>予定を記入してください(20文字以内)</mat-label>
      <input matInput #input maxlength="20" placeholder="例：猫にごはんをあげる" value="">
      <!-- <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint> -->
    </mat-form-field>
    <button class="margin-left10" mat-fab color="primary" aria-label="Todo input button">
      <mat-icon>create</mat-icon>
    </button>
  </div>



</form>
